    @* Partial view for View Specials *@
    @model IEnumerable<FoodHub.Models.Special>
    <h2>Specials</h2>
    <table class="table table-striped table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>
                        <img src="/uploads/specials/@item.ImageName" 
                            alt="@item.Title" class="img-fluid" style="max-height:50px;">
                    </td>
                    <td>
                    <a class="btn btn-sm btn-primary" href="/Admin/Dashboard?page=EditSpecials&id=@item.Id">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-danger" href="#">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
